@using Microsoft.AspNetCore.Identity
@using SemRadIvanMarijanovic.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (
  SignInManager.IsSignedIn(User) &&
  await UserManager.IsInRoleAsync(
      UserManager.GetUserAsync(User).Result,
      "admin"
  )
)
{
    <div class="dropdown">
        <a class="btn nav-link dropdown-toggle" id="dropdownRole" data-bs-toggle="dropdown">
            Roles
        </a>
        <span class="visually-hidden">Toggle Dropdown</span>
        <ul class="dropdown-menu">
            <li class="nav-item">
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="role" asp-action="Index">All Roles</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item">
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="role" asp-action="Create">Create Role</a>
            </li>

        </ul>
    </div>

}
