@using Microsoft.AspNetCore.Identity
@using SemRadIvanMarijanovic.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (
   SignInManager.IsSignedIn(User) &&
   await UserManager.IsInRoleAsync(
       UserManager.GetUserAsync(User).Result,
       "admin"
   )
)
{
    <div class="dropdown">
        <a class="btn nav-link dropdown-toggle" id="dropdownAdmin" data-bs-toggle="dropdown">
            Admin
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="categories" asp-action="index">
                    Categories
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" type="button" asp-area="admin" asp-controller="vehiclemodels" asp-action="index">
                    Vehicle Models
                </a>
            </li>
        </ul>
    </div>
}

